<% @title="Delete Admin Account" %>
<div class="login-form-container clearfix">
  <h1>Delete Admins</h1>
  <%= link_to("View all admins", admins_path()) %>
  <%= form_for(@admin, :method => "delete") do |f| %>
    <p>Are you sure you want to delete this person?</p>
    <%= render(partial: 'adminform', locals: {f: f}) %>
    <%= f.submit('delete admin', :class => "login-button btn btn-primary") %>
  <% end %>
</div>
