<% @title="Admin Signup" %>
<div class="login-form login-form-container clearfix">
  <h1>Admin Account Creation</h1>
  <p>Create a new admin here</p>
  <%# <%= link_to("View all admins", admins_path()) %>
  <%= form_for(@admin, :url => admins_path, :method => 'post') do |f| %>
    <%= render(partial: 'adminform', locals: {f: f}) %>
    <br/>
    <%= f.submit("Create admin", :class => "login-button btn btn-primary") %>
  <% end %>
</div>
