<% @title="View Admin" %>
<div class="container mt-5">
  <h1>View Admin Details</h1>
  <p><%= link_to('Edit this admin', edit_admin_path(@admin)) %></p>
  <table class="table">
    <tr>
      <th>Username</th>
      <th>Email</th>
    </tr>
    <tr>
      <td><%= @admin.username %></td>
      <td><%= @admin.email %></td>
    </tr>
  </table>
</div>
