<% @title="Edit User" %>
<div class="login-form-container clearfix">
  <h1>Edit your user</h1>
  <p>You can edit any of your users details here, but they must still be valid.</p>
  <%= link_to("View all users", users_path()) %>
  <%= form_for(@user) do |f| %>
    <%= render(partial: 'userform', locals: {f: f}) %>
    <%= f.submit("Update User", :class => "login-button btn btn-primary") %>
  <% end %>
</div>
