<h1>User#new</h1>
<p>Create a new user here</p>
<%= link_to("View all users", users_path()) %>

<%= form_for(@user, :url => users_path, :method => 'post') do |f| %>

    <%= render(partial: 'userform', locals: {f: f}) %>

    <%= f.submit("Create User") %>
<% end %>