<!---Display error message.--->

<div class="container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Alert!</h4>
        <p>Invalid username or password.</p>
        <p>Please try again.</p>
        <hr>
    </div>
</div>