<% @title="Join King's Banking" %>
<div class="login-form login-form-container clearfix">
  <h2>Join King's Banking</h2>
  <div class="container">
    <%= image_tag("logos/logo.png", width:"200") %>
  </div>
  <p>After filling in this form, you will be emailed for additional information. We look forward to you joining us!</p>
  <dl class="form">
    <dt><label for="post_title">First Name</label></dt>
    <dd><input type="text" id="fname" name="fname"></dd>
  </dl>
  <dl class="form">
    <dt><label for="post_title">Middle Name</label></dt>
    <dd><input type="text" id="fname" name="fname"></dd>
  </dl>
  <dl class="form">
    <dt><label for="post_title">Last Name</label></dt>
    <dd><input type="text" id="fname" name="fname"></dd>
  </dl>
  <dl class="form">
    <dt><label for="post_title">Email</label></dt>
    <dd><input type="text" id="fname" name="fname"></dd>
  </dl>
  <dl class="form">
    <dt><label for="post_title">Email Confirmation</label></dt>
    <dd><input type="text" id="fname" name="fname"></dd>
  </dl>
  <dl class="form">
    <dt><label for="post_title">Password</label></dt>
    <dd><input type="password" id="fname" name="fname"></dd>
  </dl>
  <dl class="form">
    <dt><label for="post_title">Password Confirmation</label></dt>
    <dd><input type="password" id="fname" name="fname"></dd>
  </dl>
  <button class="login-button btn btn-primary">Continue</button>
  <br/>
  <br/>
  <p>Please contact King's Banking for any issues.</p>
</div>
