<%# <h1>Pay or transfer money here</h1>

<%= link_to 'payment', payment_path() %>
<%# <%= form_with(model: [@bank_account,@transaction], local: true) do |f| %>
<%# <%= render(partial: 'transactionform', locals: {f: f}) %>
  <%# <%= f.submit("Create transaction") %>
<%# <% end %> %> %> %> %> %>