<br></br>
<div class="container">
  <div class="alert alert-success" role="alert">
    <h3 class="alert-heading">Data successfully generated!</h3>
    <p>You have successfully created random users, bank accounts and corresponding transactions.</p>
    <hr>
    <p class="mb-0">Navigate the following links to view the generated users, bank accounts and corresponding
      transactions:
      <p><%=link_to 'View all users', users_path() %></p>
      <p><%=link_to 'View all bank accounts and corresponding transactions', bank_accounts_path() %></p>
    </p>
  </div>
</div>