<% @title="Edit Bank Account" %>
<h1>Edit Bank Account</h1>
<%= form_for(@bank_account) do |f| %>
  <%= render(partial: 'bank_accountform', locals: {f: f}) %>
  <%= f.submit("Update Bank Account") %>
<% end %>
