<!DOCTYPE html>
<html lang="en">

<!-- All the things for Bootstrap CDN -->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <center><strong>Due to Covid-19</strong>, Call centre wait times might be longer than usual.</center>
</div>

</br>
<div class="container">
  <center>
    <h1 class="display-2">Contact Us.</h1>
    <h5><kbd>From loans to account problems, we've got you covered.</kbd></h5>
  </br>
  <hr>
    <%= image_tag("sampleimage/contactus2.jpg",width:"1000", class:"img-thumbnail") %>
  </center>

</br>
<hr>
</br>
<div class="row">
  <div class="col"><center><button type="button" class="btn btn-info" data-toggle="modal" data-target="#hotlineModal">
      <b>Global Hotline</b>
  </button></center></div>

  <div class="col"><center><button type="button" class="btn btn-info" data-toggle="modal" data-target="#emailModal">
      <b>Email Support</b>
  </button></center></div>

</br>

  </div>
</div>

</br><hr>

<!-- MODALS FOR THE BUTTONS -->

  <div class="modal fade" id="hotlineModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Our Hotline</h4>
        </div>

        <div class="modal-body">
          <h1 class="display-4">(1800) 889 6886</h1></br>
          <h4>Call from anywhere in the world without charges.</h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="emailModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Our Email</h4>
        </div>

        <div class="modal-body">
          <h1 class="display-4">support@kings.me</h1></br>
          <h4>We'll get back to you in 1-2 business days.</h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>

</html>
