<% @title="King's Banking | Home" %>
<!DOCTYPE html>
<html lang="en">
  <!-- All the things for Bootstrap CDN -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <div class="row">
    <div class="col">
      <center><%= image_tag("logos/logo.png",width:"150", class:"rounded") %></center> </div>
    <div class="col">
    </br></br></br>
<center>
  <h1><a class="btn btn-lg btn-danger" href="/login" role="button"><b>Open Online Banking</b></a></h1>
</div>
</center>
</div>
</br>
<div class="container-xl">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag("sampleimage/piggybank.jpg", class:"img-thumbnail") %>
        <div class="carousel-caption">
          <h2><b>Savings Account</b></h2>
          <h4>Explore our account types.</h4>
          <h1><a class="btn btn-lg btn-dark" href="/savings" role="button">SAVE MONEY NOW</a></h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("sampleimage/loanimg.jpg", class:"img-thumbnail") %>
        <div class="carousel-caption">
          <h2><b>Need a boost?</b></h2>
          <h4>We offer many types of loans.</h4>
          <h1><a class="btn btn-lg btn-dark" href="/loan" role="button">EXPLORE LOAN TYPES</a></h1>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag("sampleimage/angrybird.jpg", class:"img-thumbnail") %>
        <div class="carousel-caption">
          <h2><b>Facing Problems?</b></h2>
          <h4>Don't be frustrated!</h4>
          <h1><a class="btn btn-lg btn-dark" href="/contact_us" role="button">CONTACT US NOW.</a></h1>
        </div>
      </div>
    </div>
    <!-- provided by bootstrap -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
</html>
