<% @title="King's Banking | Loans" %>
<!DOCTYPE html>
<html lang="en">
  <!-- All the things for Bootstrap CDN -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="alert alert-warning alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <center><strong>Always be careful of scammers.</strong> None of our staff will ask you for your login credentials.</center>
    </div>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3"><b>Need Money? <br/>
            No Problem.</b></h1>
        <p class="lead">Whether you need some head-start for a businnes, or need a booster for your life. We've got you covered.</p>
        <p><a class="btn btn-lg btn-outline-dark" href="/contact_us" role="button">Loan with us.</a></p>
      </div>
    </div>
    <div class="container">
      <center>
        <h1>Available for</h1>
        <div class="row">
          <div class="col-sm-3" style="background-color:#E9967A;"><b>Students</b></div>
          <div class="col-sm-3" style="background-color:#FFA07A;"><b>Businesses</b></div>
          <div class="col-sm-3" style="background-color:#E9967A;"><b>Legal</b></div>
          <div class="col-sm-3" style="background-color:#FFA07A;"><b>Urgent Funds</b></div>
        </div>
      </center>
      <br/>
      <hr>
      <center>
        <h1>Hear our customers' stories.</h1>
      </center>
      <br/>
      <div class="container">
        <div class="card">
          <div class="card-body">
            <center>
              <blockquote class="blockquote">
                <p>"King's Banking has helped me establish my own clothing line, LWIAY. The revenue paid off the low-interest loan in just a few months and I'm happier than ever now."</p>
                <%= image_tag("sampleimage/sample2.jpeg",width:"250", class:"rounded-circle") %>
                <p></p>
                <footer class="blockquote-footer">Zali Aini, Owner of LWIAY Clothing</footer>
              </blockquote>
            </center>
          </div>
        </div>
        <br/>
        <div class="card">
          <div class="card-body">
            <center>
              <blockquote class="blockquote">
                <p>"I was a student when I started RentAnything, my loans got rejected by many banks except King's Banking. Guess who owns a multi-million company now?"</p>
                <%= image_tag("sampleimage/sample1.jpeg",width:"250", class:"rounded-circle") %>
                <p></p>
                <footer class="blockquote-footer">Bowan Yeng, Owner of RentAnything</footer>
              </blockquote>
            </center>
          </div>
        </div>
      </div>
      <br/>
      <hr>
      <br/>
      <center>
        <h1>What are you waiting for?</h1>
        <h1><a class="btn btn-lg btn-dark" href="/contact_us" role="button">CONTACT US NOW.</a></h1>
      </center>
      <br/>
      <br/>
    </div>
  </body>
</html>
