<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-3"><b>King's </br>Offer</b></h1>
      <p class="lead">Enjoy your shopping like a king.</p>
      <hr>
      </br>
      <p><a class="btn btn-lg btn-outline-dark" href="/contact_us" role="button">Call us for more info.</a></p>
    </div>
    <div class="col">
      <%= image_tag("sampleimage/sale.jpg",width:"500", class:"rounded") %> 
    </div>
  </div>
  <br>
  <hr>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <center>
      <p>
        <%= image_tag("amazon.jpg",width:"200", class:"rounded") %></br>
        <br>
        <a class="btn btn-lg btn-outline-dark" role="button">Free delivery per week!</a>
      </p>
    </div>
    <div class="col-sm-4">
      <center>
      <p>
        <%= image_tag("apple.jpg",width:"200", class:"rounded") %></br>
        <br>
        <a class="btn btn-lg btn-outline-dark" role="button">Free charger plug!</a>
      </p>
    </div>
    <div class="col-sm-4">
      <center>
      <p>
        <%= image_tag("dell.png",width:"200", class:"rounded") %></br>
        <br>
        <a class="btn btn-lg btn-outline-dark" role="button">£10 off or more!</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
